@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: local('Oxygen'), local('Oxygen-Regular'), url(./78wGxsHfFBzG7bRkpfRnCQ.woff2) format('woff2'), url(./RzoNiRR1p2Mqyyz2RwqSMw.woff) format('woff');
}